:root {
  --accent: #A441FF;
  --btn-grad1: #DA22FF;
  --btn-grad2: #9733EE;
  --bg-color: #462b5b;
  --secondary: #ffffff;
}

.center {
  text-align: center;
  vertical-align: middle;
  align-items: center;
}

.btn-grad {
  background-image: linear-gradient(to right, var(--btn-grad1) 0%, var(--btn-grad2) 51%, var(--btn-grad1) 100%);
}

.btn-grad {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--secondary);
  border-radius: 10px;
  display: block;
  border: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

body {
  background: var(--bg-color);
  background-repeat: inherit;
  background-size: cover;
  height: 100%;
}

html {
  height: 100%;
}

button, input, optgroup, select, textarea {
  margin: 2px;
  /*font-family: inherit;*/
  font-size: inherit;
  line-height: inherit;
}

